  <section id="banner">
    <div class="content">
      <header>        
        <h1>About Us</h1>
        <p style="margin: 0 !important;">Experts in Office Supply</p>
        by <b><a href="https://www.thesocial.ee" target="_blank">Social Restaurant Group</a></b> 
      </header> <br>
      
      <p> 

        Euroffice was founded in 2019 in Estonia. 
        Our goal is to offer  customers a large product selection of top brand products, low discount prices, and top notch customer service. 
        We strive every day to make sure we consistently hit these goals for our customers.  <br>

        We're more than just office supplies! We are proud to be one of the largest online retailers of products for: 
        schools, furniture, electronics, janitorial, cleaning, food service, restaurants, technology, industrial, safety, 
        warehouse and human resources. Our knowledgable team is ready to answer your questions and complete your order.   <br>
        
        Whether you are buying for your office, business workspace, school, manufacturing facility, restaurant or your home, 
        we want you to enjoy your shopping experience. We have continued to grow each year thanks to our loyal customers.  <br>

        We appreciate your business and thank you for shopping with <b>'Euroffice'</b>.
            
      </p>

      <p><b>Located</b>:Akadeemia tee 15a, Tallinn</b></p>
      <!-- <ul class="actions">
        <li>
          
 
    <span class="orderFood-button33" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="8ba17049-59d3-4f08-9e7b-7ed16756929e" > See MENU & Order </span>
    <span class="reservation-btn reservation" data-glf-cuid="83413cd8-a9b2-493b-8fe9-702ec0d5f8ac" data-glf-ruid="8ba17049-59d3-4f08-9e7b-7ed16756929e" data-glf-reservation="true" > Table Reservation</span>
    <script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async ></script>
         
        </li>
      </ul> -->
    </div>
    <!-- <span class="image object">
      <img src="assets/images/bg-illustration.png" alt="" />
    </span> -->
  </section>


